h2{
    font-weight: lighter;
}

div{
    padding: 15px;
    padding-top: 1px;
    border-radius: 5px;
}

.container{
    background-color: #c7f2f2;
}

.hasil{
    text-align: center;
    background-color: #c7f2f2;
}

.hitung {
    background-color: rgb(23, 141, 225);
    color: white;
    border-color: rgb(23, 141, 225);
    border-radius: 5px;
}

.link-button{
    background-color: rgb(23, 141, 225);
    color: white;
    border-color: rgb(23, 141, 225);
    border-radius: 5px;
    padding: 6px;
}

.hidden{
    display: none;
}
